body {
    max-width: none;
}

.alert {
    font-size: 1.1em;
    font-weight: bold;
    color:darkred;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wasmcontent {
    overflow: hidden;
}
